* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.visuals__container {
	min-height: 280px;
	padding: 10px;
}
.track__img {
	height: 280px;
}

.progress__bar__wrapper {
	position: relative;
	background-color: hsla(0, 0%, 74.9%, 0.95);
	height: 10px;
}
.progress__bar__line {
	background-color: #fc0;
	display: block;
	left: 0;
	height: 10px;
	width: 0;
}
.progress__text {
	z-index: 900;
	display: none;
	line-height: 9.5px;
	width: 100%;
	font-size: 9.5px;
	color: rgb(0, 0, 0);
	height: 10px;
	position: absolute;
	top: 0.25px;
	left: 0;
}
.progress__right {
	pointer-events: none;
	margin-right: 5px;
	float: right;
}
.progress__left {
	pointer-events: none;
	margin-left: 5px;
	float: left;
}

.progress__bar__wrapper:hover {
	cursor: pointer;
}
.progress__bar__wrapper:hover .progress__text {
	display: block;
}
.controls__btns {
	margin: 10px 0;
	padding: 0 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.switch__btns {
	display: flex;
	flex-direction: row;
	width: 110px;
	justify-content: space-between;
}
.prev__track__btn,
.next__track__btn,
.play__track__btn,
.queue__btn,
.statistics {
	width: 22px;
	height: 22px;
	background-size: 100%;
	opacity: 0.4;
}
.prev__track__btn {
	background-image: url(/popup/icons/track-prev.svg);
}
.play__track__btn {
	background-image: url(/popup/icons/play.svg);
}
.next__track__btn {
	background-image: url(/popup/icons/track-next.svg);
}
.statistics {
	background-image: url(/popup/icons/assessment_black_24dp.svg);
	pointer-events: none;
}

.queue__btn {
	background-image: url(/popup/icons/playlist-next.svg);
}
.prev__track__btn:hover,
.next__track__btn:hover,
.play__track__btn:hover,
.queue__btn:hover,
.statistics:hover {
	opacity: 0.85;
	cursor: pointer;
}

.track__title_container {
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.track__title {
	font-weight: 500;
	font-size: 15px;
}
